.title-h1 {
  font-size: 24px;
  font-weight: 700;
}

.title-h2 {
  font-size: 20px;
}

.title-h3 {
  font-size: 18px;
}

.title-h4 {
  font-size: 16px;
}

.title-h5 {
  font-size: 14px;
}

.title-h6 {
  font-size: 12px;
}

.title-gray-light {
  color: var(--gray-light);
}

.text-upper {
  text-transform: uppercase;
}

.text-gray--lighter{
  color: var(--gray-lighter);
}

.text-gray--light {
  color: var(--gray-light);
}